html {
    font-size: 22px;
}
body {
     background-color: rgb(102, 55, 78);
color: whitesmoke;
}
a {
    color: aliceblue;
}
a:visited {
    color: rgb(243, 220, 243);
}
a:hover, a:active {
    color: rgb(255, 254, 208);
}
table, tr, th,td, caption{
    border: 1px solid white;
    font-family: 'Courier New', Courier, monospace ;
    border-collapse: collapse;
    padding: 0.5rem;
}
button{
    border:rgb(65, 33, 58);
    color: black;
    background-color: rgb(255, 205, 251);
    border-radius: 3px;
    padding: 3px 10px;
}
input{
    border-radius: 3px;
    background-color: rgb(255, 234, 253);
}
      